backup/
ConverterBackup/
*.log
*.exe
*.dll
*.o
*.ppu
*.a
*.dcu
*.~*
lib/
TEST/*

# Otros artefactos
*.stackdump
*.res
ppas.bat
*.compiled
*.bkp

# Archivos que se modifican constantemente
Mercury.lpi
Mercury.lps

