# Artefactos de compilación Delphi/Lazarus
*.dcu
*.ppu
*.o
*.exe

# Diagramas / IDE (Delphi Diagram Portfolio)
*.ddp

# Opciones del proyecto Delphi
*.dof

# Backups temporales / autoguardados del IDE
*~
*.~pas
*.~dfm
*.~ddp
*.~dpr

# Carpetas de build/compilación
Output/
lib/

# Otros artefactos
*.stackdump
*.res
